@charset "UTF-8";
/* CSS Document */
/* The body tag style applies to all elements on the page 

#B28BD9
#DBD0F2
#8E79D9
#C9BDF2
#9080F2

ahh tbh ion really fw this current scheme so i might change it lowk

*/

body {
background: #8e79d9;
background: -moz-linear-gradient(top,#B28BD9 0%, #C9BDF2 100%);
background: -webkit-linear-gradient(top,#B28BD9 0%, #C9BDF2 100%);
background: -o-linear-gradient(top,#B28BD9 0%, #C9BDF2 100%);
background: linear-gradient(top,#B28BD9 0%, #C9BDF2 100%);
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
background-color: white;
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}

/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#wrapper {
width: 960px;height: 800px;
margin-left: auto;
margin-right: auto;
background-color:rgb(173, 136, 236) ;
}

/* The right-column ID style is floated right */
#right-column {
float: right;
width: 660px;height: 600px;
background-color:#DBD0F2;
}

/* placement for the picture */
#picture {
float: right;
padding-right: 300px;
}

/* The left-column ID style is floated left */
#left-column {
float: left;
width: 300px;background-color:#C9BDF2;
height:600px;
}

/* Defining a style for a set of tags separated by commas applies the style to
all tags */
h1,h2,h3,h4,h5,h6,p,li {
color: white;
margin-left:15px;
}


#banner{
height:120px;
background-color:linear-gradient(top,#DBD0F2 0%, #8e79d9 100%);
}



/* This clear class style terminates float */
.clear{
clear: both;
}
